<header class="flex w-full items-center justify-center py-5 xl:w-8/10">
  <nav class="flex flex-row items-center gap-4 opacity-90 md:gap-10">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
