---
import Header from "../components/Header.astro";
import "../styles/global.css";
import ArrowUp from "../components/icons/ArrowUp.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio Martín Médica - Desarrollador y Programador Web</title>
  </head>
  <body id="top" class="bg-slate-900 text-white">
    <div
      class="absolute inset-0 z-[-2] bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)] bg-[size:14px_24px]"
    >
    </div>
    <Header />
    <slot />
    <a
      href="#top"
      class="fixed right-4 bottom-4 h-12 w-12 text-white/80 hover:text-white"
      ><ArrowUp class="size-8" /></a
    >
  </body>
</html>

<style>
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
